<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <title>Bart Card</title>

 <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">

 <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
   integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {% block style %}
  {% endblock style %}
</head>

<body>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('index') }}">Bart Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('post_all') }}">All Posts</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Movies 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for li in list_types %}
                    <a class="dropdown-item" href="{{url_for('movies_page', select_list=li.type)}}">{{li.name}}</a>
                  {% endfor %}
                </div>
              </li>
              
              <li class="nav-item">
                <a class="btn btn-outline-warning " href="{{url_for('contact')}}" role="button">Contact</a>
              </li>
              
          </ul>
            <form class="form-inline" action="/search_results" method="GET">
              <input class="form-control mr-sm-2" type="text" value="{% if query %}{{ query }}{% endif %}" placeholder="Search" aria-label="Search" name="search_bar">
              <button button class="btn btn-outline-light" type="submit">Search</button>
          </form>
          <ul class="navbar-nav ml-auto"> 
            {% if session.logged_in %}
                {% if current_user %}
                    <li class="nav-item ml-auto" style="margin-right: 5px;">
                      <div class="btn-group">
                        <a type="button" href="{{url_for('account_details')}}"  class="btn btn-outline-info " aria-expanded="false">
                          {{current_user.name}}
                        </a>
                        </div>
                    </li>

                {% endif %}
                <li class="nav-item ml-auto">
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item ml-auto">
                    <a class="btn btn-success my-2 my-lg-0" href="{{ url_for('login_page') }}">Login</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>

 <main role="main" class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == "success" %}
                <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Congrats!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <script>
                    setTimeout(function() {
                        var successAlert = document.getElementById('success-alert');
                        successAlert.style.display = 'none';
                    }, 2000);
                </script>
            {% endif %}
            {% if category == "danger" %}
                <div id="danger-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oooops!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <script>
                    setTimeout(function() {
                        var dangerAlert = document.getElementById('danger-alert');
                        dangerAlert.style.display = 'none';
                    }, 2000);
                </script>
            {% endif %}
        {% endfor %}
    {% endwith %}
   {% block content %}
   {% endblock %}
 </main>
 
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
   integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
   integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
   crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
   integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
   crossorigin="anonymous"></script>

</html>