{% extends 'base.html' %}
{% block style %}
    <style>
        body {
        padding-top: 5rem;
        }
        .card {
            margin-top: 15px;
        }
        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
{% endblock style %}
{% block content %}
    {% for post in all_posts %}
        <div class="card">
            <h3 class="card-header">
                {{post.title}}
            </h3>
            <div class="card-body">
                <p class="card-text">
                    {{post.body}}
                </p>
            </div>
            <div class="card-footer text-muted">
                {{post.pub_date.strftime('%Y-%m-%d %H-%M')}}
            </div>
            <div class="spacer"></div>
        </div>
    {% endfor %}
{% endblock content%}
