{% extends 'base.html' %}
{% block style %}
<style>
    .container {
        margin-top:  150px;
    }
</style>
{% endblock style %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Log in</h3>
            {% if errors %}
                {{ errors.username }}
            {% endif %}
            <form action="" method="post" class="mx-auto">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="title">Login</label>
                    {% if errors and errors.username %}
                        {{ form.username(class_='form-control is-invalid') }}
                    {% else %}
                        {{ form.username(class_='form-control') }}
                    {% endif %}
                    <div class="invalid-feedback">{{ errors.username|join(' ') }}</div>
                </div>
                <div class="form-group">
                    <label for="body">Hasło</label>
                    {% if errors and errors.password %}
                        {{ form.password(class_='form-control is-invalid', type='password') }}
                    {% else %}
                        {{ form.password(class_='form-control', type='password')}}
                    {% endif %}
                    <div class="invalid-feedback">{{ errors.password|join(' ') }}</div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}